{% extends 'blog/base.html' %}

{% block content %}
<form method="GET" class="post-form">
    {{ form.as_p }}
    <button type="submit" class="save btn btn-secondary">Save</button>
</form>

{% for category in categories %}
    <article class="post">
        <h4>{{ category.name }}</h4>
        <p>{{ category.num_article|linebreaksbr }}</p>
    </article>
{% endfor %}

{% for post in posts %}
    <article class="post">
        <time class="date">
            {{ post.published_date }}
        </time>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}
{% endblock %}