{% extends 'blog/base.html' %}

{% block content %}
<form method="GET" class="post-form">
    {{ form.as_p }}
    <button type="submit" class="save btn btn-secondary">Search</button>
</form>

</br>
</br>

{% for category in categories %}
<button type="button" class="btn btn-sm btn-secondary position-relative" disabled>
    {{ category.name }}
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{ category.num_article}}
    </span>
  </button>
{% endfor %}

</br>
</br>

{% for post in posts %}
    <article class="post">
        <time class="date">
            {{ post.published_date }}
        </time>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}
{% endblock %}